<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/x-icon" href="../faviconok.ico">
</head>
<body>
    <h1>test</h1>

    <li class="active">


        <ul class="nav_h">
            <li class=""><a href="/zlys/commond">指挥中心</a></li>
            <li class=""><a href="/common/check">考核中心</a></li>
            <li class=""><a href="/common/unusual">预警中心</a></li>
            <li class="active"><a href="/common/system_a">系统管理</a></li>
            <li class=""><a href="/common/examine">监控中心</a></li>
            <li class=""><a href="/common/tongjiindex">统计中心</a></li>
        </ul>


        <div class="btns_nav">

        <ul style="display:inline">
            <li class="active ">
                <a href="/common/system_a" class=""></a>
            </li>
            <li class=" ">
                <a href="/common/system_b" class=""></a>
            </li>
            <li class=" ">
                <a href="/common/system_c" class=""></a>
            </li>
            <li class=" ">
                <a href="/common/system_d" class=""></a>
            </li>
            <li class=" ">
                <a href="/common/system_e" class=""></a>
            </li>
            <li class=" ">
                <a href="/common/system_g" class=""></a>
            </li>
            <li class=" ">
                <a href="/common/system_h" class=""></a>
            </li>
        </ul>
</body>
</html>