<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlys.collection.dao.DriverMapper">

	<resultMap id="BaseResultMap" type="com.zlys.collection.entity.DriverEntity">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="sex" property="sex" />
		<result column="type" property="type" />
		<result column="department" property="department" />
		<result column="driver_check" property="driverCheck" />
		<result column="created_time" property="createdTime" />
		<result column="update_time" property="updateTime" />
		<result column="id_crad" property="idCrad" />
	</resultMap>

	<sql id="table-name">driver</sql>

	<sql id="all-column">id ,name ,sex ,type ,department ,driver_check ,created_time ,update_time ,id_crad	</sql>

	<sql id="all-query-condition">
		<if test="id != null">
	      and id = #{id}
    </if>
	   <if test="name != null and name != ''">
	      and name = #{name}
    </if>
		<if test="sex != null">
	      and sex = #{sex}
    </if>
		<if test="type != null">
	      and type = #{type}
    </if>
	   <if test="department != null and department != ''">
	      and department = #{department}
    </if>
	   <if test="driverCheck != null and driverCheck != ''">
	      and driver_check = #{driverCheck}
    </if>
		<if test="createdTime != null">
	      and created_time = #{createdTime}
    </if>
		<if test="updateTime != null">
	      and update_time = #{updateTime}
    </if>
	   <if test="idCrad != null and idCrad != ''">
	      and id_crad = #{idCrad}
    </if>
	</sql>


	<!-- Selective Insert-->
	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.zlys.collection.entity.DriverEntity">
		insert into <include refid="table-name"/>
		<trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="id != null">
	  	        id,
  	        </if>
	   <if test="name != null and name != ''">
	  	        name,
  	        </if>
		<if test="sex != null">
	  	        sex,
  	        </if>
		<if test="type != null">
	  	        type,
  	        </if>
	   <if test="department != null and department != ''">
	  	        department,
  	        </if>
	   <if test="driverCheck != null and driverCheck != ''">
	  	        driver_check,
  	        </if>
		<if test="createdTime != null">
	  	        created_time,
  	        </if>
		<if test="updateTime != null">
	  	        update_time,
  	        </if>
	   <if test="idCrad != null and idCrad != ''">
	  	        id_crad
  	        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
 		<if test="id != null">
	  	        #{id},
  	        </if>
   	   <if test="name != null and name != ''">
	  	        #{name},
  	        </if>
   		<if test="sex != null">
	  	        #{sex},
  	        </if>
   		<if test="type != null">
	  	        #{type},
  	        </if>
   	   <if test="department != null and department != ''">
	  	        #{department},
  	        </if>
   	   <if test="driverCheck != null and driverCheck != ''">
	  	        #{driverCheck},
  	        </if>
   		<if test="createdTime != null">
	  	        #{createdTime},
  	        </if>
   		<if test="updateTime != null">
	  	        #{updateTime},
  	        </if>
   	   <if test="idCrad != null and idCrad != ''">
	              #{idCrad}
  	        </if>
  		</trim>
	</insert>

	<!-- Batch Selective -->
	<insert id="insertRecords" parameterType="java.util.List">
		insert into <include refid="table-name"/>
		<trim prefix="(" suffix=")values">
		 	<include refid="all-column"/>
		</trim>
		<foreach collection="records" item="record"  separator=",">
		  (		#{id},
			#{name},
			#{sex},
			#{type},
			#{department},
			#{driverCheck},
			#{createdTime},
			#{updateTime},
			#{idCrad}
		   )
		</foreach>
	</insert>

        <!-- QueryAll -->
    <select id="queryAll" resultMap="BaseResultMap" parameterType="com.zlys.collection.entity.DriverEntity">
        select <include refid="all-column" /> from <include refid="table-name"/>
    </select>

	<!-- Query limit one -->
	<select id="queryLimitOne" resultMap="BaseResultMap" parameterType="com.zlys.collection.entity.DriverEntity">
		select <include refid="all-column" /> from <include refid="table-name"/>
		where 1=1   <include refid="all-query-condition"/>
        limit 1
	</select>

	<!-- Query By Cond -->
	<select id="queryByCond" resultMap="BaseResultMap" parameterType="com.zlys.collection.entity.DriverEntity">
		select <include refid="all-column" /> from <include refid="table-name"/>
		where 1=1 <include refid="all-query-condition"/>
	</select>

	<!-- Query By Primary Key -->
	<select id="queryById" resultMap="BaseResultMap">
		select
		<include refid="all-column" />
		from <include refid="table-name"/> where id = #{id}
	</select>

	<!-- Query By Primary Keys-->
	<select id="queryByIds" resultMap="BaseResultMap" parameterType="java.util.List">
		select
		<include refid="all-column" />
		from <include refid="table-name"/> where id in
		<foreach collection="keys" item="key" open="(" close=")" separator=",">
			#{key}
		</foreach>
	</select>

	<!-- Update By Primary Key -->
	<update id="updateDriverById" parameterType="com.zlys.collection.entity.DriverEntity">
		update <include refid="table-name" />
		<set>
		<if test="id != null">
		        id = #{id},
			</if>
				   <if test="name != null and name != ''">
		        name = #{name},
			</if>
					<if test="sex != null">
		        sex = #{sex},
			</if>
					<if test="type != null">
		        type = #{type},
			</if>
				   <if test="department != null and department != ''">
		        department = #{department},
			</if>
				   <if test="driverCheck != null and driverCheck != ''">
		        driver_check = #{driverCheck},
			</if>
					<if test="createdTime != null">
		        created_time = #{createdTime},
			</if>
					<if test="updateTime != null">
		        update_time = #{updateTime},
			</if>
				   <if test="idCrad != null and idCrad != ''">
	            id_crad = #{idCrad}
			</if>
					</set>
		<where>id = #{id}</where>
	</update>

	<!-- Delete By primary Keys -->
	<delete id="deleteDriverById">
		delete from <include refid="table-name" />
		<where>id = #{id}</where>
	</delete>



</mapper>
