<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlys.collection.dao.SysUserMapper">

	<resultMap id="BaseResultMap" type="com.zlys.collection.entity.SysUserEntity">
		<id column="ID" property="ID" />
		<result column="FULL_NAME" property="FULLNAME" />
		<result column="SID" property="SID" />
		<result column="SEX" property="SEX" />
		<result column="type" property="type" />
		<result column="MOBILE" property="MOBILE" />
		<result column="REMARK" property="REMARK" />
		<result column="COMPANY_NAME" property="COMPANYNAME" />
		<result column="COMPANY_ID" property="COMPANYID" />
		<result column="AREA_NAME" property="AREANAME" />
		<result column="LASTTIME" property="LASTTIME" />
		<result column="update_time" property="updateTime" />
	</resultMap>

	<sql id="table-name">sys_user</sql>

	<sql id="all-column">ID ,FULL_NAME ,SID ,SEX ,type ,MOBILE ,REMARK ,COMPANY_NAME ,COMPANY_ID ,AREA_NAME ,LASTTIME ,update_time	</sql>

	<sql id="all-query-condition">
		<if test="ID != null">
	      and ID = #{ID}
    </if>
	   <if test="FULLNAME != null and FULLNAME != ''">
	      and FULL_NAME = #{FULLNAME}
    </if>
	   <if test="SID != null and SID != ''">
	      and SID = #{SID}
    </if>
		<if test="SEX != null">
	      and SEX = #{SEX}
    </if>
		<if test="type != null">
	      and type = #{type}
    </if>
	   <if test="MOBILE != null and MOBILE != ''">
	      and MOBILE = #{MOBILE}
    </if>
	   <if test="REMARK != null and REMARK != ''">
	      and REMARK = #{REMARK}
    </if>
	   <if test="COMPANYNAME != null and COMPANYNAME != ''">
	      and COMPANY_NAME = #{COMPANYNAME}
    </if>
		<if test="COMPANYID != null">
	      and COMPANY_ID = #{COMPANYID}
    </if>
	   <if test="AREANAME != null and AREANAME != ''">
	      and AREA_NAME = #{AREANAME}
    </if>
		<if test="LASTTIME != null">
	      and LASTTIME = #{LASTTIME}
    </if>
		<if test="updateTime != null">
	      and update_time = #{updateTime}
    </if>
	</sql>


	<!-- Selective Insert-->
	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="ID" parameterType="com.zlys.collection.entity.SysUserEntity">
		insert into <include refid="table-name"/>
		<trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="ID != null">
	  	        ID,
  	        </if>
	   <if test="FULLNAME != null and FULLNAME != ''">
	  	        FULL_NAME,
  	        </if>
	   <if test="SID != null and SID != ''">
	  	        SID,
  	        </if>
		<if test="SEX != null">
	  	        SEX,
  	        </if>
		<if test="type != null">
	  	        type,
  	        </if>
	   <if test="MOBILE != null and MOBILE != ''">
	  	        MOBILE,
  	        </if>
	   <if test="REMARK != null and REMARK != ''">
	  	        REMARK,
  	        </if>
	   <if test="COMPANYNAME != null and COMPANYNAME != ''">
	  	        COMPANY_NAME,
  	        </if>
		<if test="COMPANYID != null">
	  	        COMPANY_ID,
  	        </if>
	   <if test="AREANAME != null and AREANAME != ''">
	  	        AREA_NAME,
  	        </if>
		<if test="LASTTIME != null">
	  	        LASTTIME,
  	        </if>
		<if test="updateTime != null">
	  	        update_time
  	        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
 		<if test="ID != null">
	  	        #{ID},
  	        </if>
   	   <if test="FULLNAME != null and FULLNAME != ''">
	  	        #{FULLNAME},
  	        </if>
   	   <if test="SID != null and SID != ''">
	  	        #{SID},
  	        </if>
   		<if test="SEX != null">
	  	        #{SEX},
  	        </if>
   		<if test="type != null">
	  	        #{type},
  	        </if>
   	   <if test="MOBILE != null and MOBILE != ''">
	  	        #{MOBILE},
  	        </if>
   	   <if test="REMARK != null and REMARK != ''">
	  	        #{REMARK},
  	        </if>
   	   <if test="COMPANYNAME != null and COMPANYNAME != ''">
	  	        #{COMPANYNAME},
  	        </if>
   		<if test="COMPANYID != null">
	  	        #{COMPANYID},
  	        </if>
   	   <if test="AREANAME != null and AREANAME != ''">
	  	        #{AREANAME},
  	        </if>
   		<if test="LASTTIME != null">
	  	        #{LASTTIME},
  	        </if>
   		<if test="updateTime != null">
	              #{updateTime}
  	        </if>
  		</trim>
	</insert>

	<!-- Batch Selective -->
	<insert id="insertRecords" parameterType="java.util.List">
		insert into <include refid="table-name"/>
		<trim prefix="(" suffix=")values">
		 	<include refid="all-column"/>
		</trim>
		<foreach collection="records" item="record"  separator=",">
		  (		#{ID},
			#{FULLNAME},
			#{SID},
			#{SEX},
			#{type},
			#{MOBILE},
			#{REMARK},
			#{COMPANYNAME},
			#{COMPANYID},
			#{AREANAME},
			#{LASTTIME},
			#{updateTime}
		   )
		</foreach>
	</insert>

        <!-- QueryAll -->
    <select id="queryAll" resultMap="BaseResultMap" parameterType="com.zlys.collection.entity.SysUserEntity">
        select <include refid="all-column" /> from <include refid="table-name"/>
    </select>

	<!-- Query limit one -->
	<select id="queryLimitOne" resultMap="BaseResultMap" parameterType="com.zlys.collection.entity.SysUserEntity">
		select <include refid="all-column" /> from <include refid="table-name"/>
		where 1=1   <include refid="all-query-condition"/>
        limit 1
	</select>

	<!-- Query By Cond -->
	<select id="queryByCond" resultMap="BaseResultMap" parameterType="com.zlys.collection.entity.SysUserEntity">
		select <include refid="all-column" /> from <include refid="table-name"/>
		where 1=1 <include refid="all-query-condition"/>
	</select>

	<!-- Query By Primary Key -->
	<select id="queryByID" resultMap="BaseResultMap">
		select
		<include refid="all-column" />
		from <include refid="table-name"/> where ID = #{ID}
	</select>

	<!-- Query By Primary Keys-->
	<select id="queryByIDs" resultMap="BaseResultMap" parameterType="java.util.List">
		select
		<include refid="all-column" />
		from <include refid="table-name"/> where ID in
		<foreach collection="keys" item="key" open="(" close=")" separator=",">
			#{key}
		</foreach>
	</select>

	<!-- Update By Primary Key -->
	<update id="updateSysUserByID" parameterType="com.zlys.collection.entity.SysUserEntity">
		update <include refid="table-name" />
		<set>
		<if test="ID != null">
		        ID = #{ID},
			</if>
				   <if test="FULLNAME != null and FULLNAME != ''">
		        FULL_NAME = #{FULLNAME},
			</if>
				   <if test="SID != null and SID != ''">
		        SID = #{SID},
			</if>
					<if test="SEX != null">
		        SEX = #{SEX},
			</if>
					<if test="type != null">
		        type = #{type},
			</if>
				   <if test="MOBILE != null and MOBILE != ''">
		        MOBILE = #{MOBILE},
			</if>
				   <if test="REMARK != null and REMARK != ''">
		        REMARK = #{REMARK},
			</if>
				   <if test="COMPANYNAME != null and COMPANYNAME != ''">
		        COMPANY_NAME = #{COMPANYNAME},
			</if>
					<if test="COMPANYID != null">
		        COMPANY_ID = #{COMPANYID},
			</if>
				   <if test="AREANAME != null and AREANAME != ''">
		        AREA_NAME = #{AREANAME},
			</if>
					<if test="LASTTIME != null">
		        LASTTIME = #{LASTTIME},
			</if>
					<if test="updateTime != null">
	            update_time = #{updateTime}
			</if>
					</set>
		<where>ID = #{ID}</where>
	</update>

	<!-- Delete By primary Keys -->
	<delete id="deleteSysUserByID">
		delete from <include refid="table-name" />
		<where>ID = #{ID}</where>
	</delete>



</mapper>
